<!doctype html>

<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Big Gorilla</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://moment.github.io/luxon/global/luxon.min.js"></script>

  </head>

  <body>

    <div id="app">

      <!-- Navigation Bar -->
      <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <a class="navbar-brand" href="#">Big Gorilla</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Live</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Archive</a>
            </li>
          </ul>
        </div>
      </nav>

      <!-- Container -->
      <div class="container m-t-4">
        <div class="row justify-content-center" v-for="(client, index) in clients">
          <div class="col-12">
            <button class="btn btn-primary btn-lg btn-block" type="button" data-toggle="collapse" v-bind:data-target="'#client-' + index" aria-expanded="false" aria-controls="collapseClient">
            {{client.address}}
            </button>
            <div class="collapse p-lr-2" v-bind:id="'client-' + index">

              <div class="row justify-content-center" v-for="(indice, index) in client.indices">
                <div class="col-12">
                 <button class="btn btn-secondary btn-lg btn-block" type="button" data-toggle="collapse" v-bind:data-target="'#indice-' + index" aria-expanded="false" aria-controls="collapseQuery">
                   {{indice.time}}
                 </button>
                 <div class="collapse" v-bind:id="'indice-' + index">
                  <table class="table table-bordered">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Hash</th>
                        <th scope="col">Name</th>
                        <th scope="col">Type</th>
                        <th scope="col">Class</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(query, index) in indice.queries">
                        <td scope="row">{{query.hash}}</th>
                        <td scope="row">{{query.name}}</th>
                        <td scope="row">{{query.type}}</th>
                        <td scope="row">{{query.class}}</th>
                      </tr>
                    </tbody>
                  </table>
                 </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

    <script>
    var socket = io();
    var vue = new Vue({
      el: "#app",
      data: function() {
        return {
          clients: [],
        }
      },
      created: function() {
        realThis = this;
        socket.on("AddQuery", function(data) {
          query = JSON.parse(data);
          date = luxon.DateTime.fromMillis(query.time * 1000);
          hours = date.hour;
          minutes = date.minute;
          pmam = hours >= 12 ? 'PM' : 'AM';
          hours = hours == 0 ? 12 : hours > 12 ? hours - 12 : hours;
          query.time = `${hours}:${minutes}`;

          var found = false;
          for(var client of realThis.clients) {
            if (client.address === query.address) {
              var otherFound = false;
              for(var index of client.indices) {
                if (index.time === query.time) {
                  index.queries.unshift(query);
                  otherFound = true;
                }
              }
              if (!otherFound) {
                client.indices.unshift({
                  time: query.time,
                  queries: [
                    query,
                  ],
                });
              }
              found = true;
            }
          }
          if (!found) {
            realThis.clients.unshift({
              address: query.address,
              indices: [
                {
                  time: query.time,
                  queries: [
                    query,
                  ],
                },
              ],
            })
          }
        });
      }
    });
    </script>

  </body>

</html>